@media (max-width: 762px) {

    #recomendations-gallery{
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5";
    }
   
}

@media (min-width: 763px){
    #recomendations-gallery{
        grid-template-areas:
        "card1 card1 card1"
        "card3 card3 card3"
        "card5 card5 card5"
        "card4 card4 card2";
    }

}

@media (min-width: 1200px) {
    #recomendations-gallery{
        grid-template-areas:
        "card1 card1 card2 card3"
        "card4 card5 card5 card3";

    }

}